<?xml version="1.0" encoding="UTF-8"?>
<suite name="Suite" parallel="false">

	<listeners>
		<listener class-name="com.ideapoke.qa.util.ExtentReporterNG" />
	</listeners>
  <test name="Test">
    <classes>
      <class name="com.qa.ideapoke.testcases.Testcsaes"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
